h1 NodeJS Party Taiwan 9 Socket.io Demo

a.change-username(href="#") Change My Name

.chat
  .chat-bd
    .chat-msgs
  
  .chat-ft
    form.chat-form
      input.chat-submit(type="submit", value="Send")
      .chat-input-wrapper
        input.chat-input(type="text", placeholder="Enter message")