!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body!= body
  
  script(src='/socket.io/socket.io.js')
  script(src='/js/moment.min.js')
  script(src='/js/jquery.min.js')
  script(src='/js/script.js')