body{padding:50px;font:14px/1.5 "Lucida Grande",Helvetica,Arial,sans-serif}
a{color:#195073}
h1{text-align:center;font-size:2em}
.hd{width:80%;margin:0 auto;}
.hd .l,.hd .r{display:inline-block;width:50%}
.hd .l{text-align:left}
.hd .r{text-align:right}
.chat{width:80%;margin:0 auto;border:1px solid #eee}
.chat-bd{height:400px;overflow-y:auto}
.chat-msgs{padding:21px}
.chat-msg-time{color:#aaa;margin-right:8.4px}
.chat-msg-user{font-weight:bold;margin-right:8.4px;color:#195073}
.chat-system-msg{color:#7f8c1f}
.chat-ft{padding:10.5px}
.chat-form{overflow:hidden}
.chat-input-wrapper{overflow:hidden;padding:10.5px;border:1px solid #eee}
.chat-input{font-size:21px;width:100%;margin:0;padding:0;border:none;}
.chat-input:focus{outline:none;-webkit-box-shadow:0;box-shadow:0}
.chat-submit{font-size:21px;float:right;margin-left:10.5px;padding:10.5px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #226d9d), color-stop(1, #103349));background:-webkit-linear-gradient(top, #226d9d 0%, #103349 100%);background:-moz-linear-gradient(top, #226d9d 0%, #103349 100%);background:-o-linear-gradient(top, #226d9d 0%, #103349 100%);background:-ms-linear-gradient(top, #226d9d 0%, #103349 100%);background:linear-gradient(top, #226d9d 0%, #103349 100%);border:none;color:#fff;}
.chat-submit:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #2b8ac7), color-stop(1, #195073));background:-webkit-linear-gradient(top, #2b8ac7 0%, #195073 100%);background:-moz-linear-gradient(top, #2b8ac7 0%, #195073 100%);background:-o-linear-gradient(top, #2b8ac7 0%, #195073 100%);background:-ms-linear-gradient(top, #2b8ac7 0%, #195073 100%);background:linear-gradient(top, #2b8ac7 0%, #195073 100%)}
.chat-submit:active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #195073), color-stop(1, #2b8ac7));background:-webkit-linear-gradient(top, #195073 0%, #2b8ac7 100%);background:-moz-linear-gradient(top, #195073 0%, #2b8ac7 100%);background:-o-linear-gradient(top, #195073 0%, #2b8ac7 100%);background:-ms-linear-gradient(top, #195073 0%, #2b8ac7 100%);background:linear-gradient(top, #195073 0%, #2b8ac7 100%)}
